<div class='top-new-image'>
<div class="bkRGBA">
<h1 class='title'>マンガ編集</h1>
<div class="content">
<div class="cp_iptxt">

  <%= form_with model:@comic, url:comic_path, local: true do |f| %>
      <label class="image">
            <p>
            
          マンガ画像をアップロードしてください
        </p>
          <%= f.file_field :image, class:"image-up", id:"image" %>
          	  </label>
    <label class="ef">
      <%= f.text_field :name, class:"cp_iptxt input", id:"name", placeholder:"タイトル" %>
	  </label>
        <label class="ef">
      <%= f.text_field :number, class:"cp_iptxt input", id:"number", placeholder:"巻数" %>
	  </label>
            <label class="ef">
      <%= f.text_field :author, class:"cp_iptxt input", id:"author", placeholder:"作者" %>
	  </label>
                    <label class="ef">
        <%= f.collection_select(:magazine_id, Magazine.all, :id, :name, {}, {class:"select-box" })  %>
        </label>
                <label class="ef">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box" })  %>
        </label>
  <label class="ef">
         <%= f.select :end, [["完",],["未完"]], {}, {class: 'select-box'} %>
 </label>
     <div class="sell-btn-contents">
      <%= f.submit "更新" ,class:"sell-btn btn--radius" %>
      <%=link_to 'もどる', root_path, class:"back-btn-new" %>
    </div>
  <% end %>
  </div>
  </div>
  </div>
</div>

