    <%= link_to "COM✖️COM", root_path, class: :nav__btn %>
<header class='top-page-header'>
  <div class='nav'>
    <%= link_to( new_comic_path, class: 'purchase-btn') do %>
      <span>マンガ登録</span>
    <% end %>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname,"#", class: "user-nickname"%> </li> 
        <script src="./script.js"></script>
        <i class="fab fa-facebook" hovercolor="#3b5998"></i>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  
<style type="text/css">
a:link {
text-decoration:none;
color:black;
}
a:visited {
text-decoration:none;
color:black;
}
a:active {
text-decoration:none;
color:black;
}
a:hover {
text-decoration:none;
color:#CC0000;
}
</style>



<%= search_form_for @p, url: comics_search_path do |f| %>
  <%= f.label :genre_id_eq, 'ジャンル検索' %>
  <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, include_blank: '指定なし' %>  <%= f.submit '検索' %>
  <br>
<% end %>

<%= search_form_for @p, url: comics_search_path do |f| %>
  <%= f.label :magazine_id_eq, '雑誌検索' %>
  <%= f.collection_select :magazine_id_eq, Magazine.all, :id, :name, include_blank: '指定なし' %>  <%= f.submit '検索' %>
  <br>
<% end %>


</header>

<div class='top-image'>
  <div class="bkRGBA">
    <div class="comic-contents">
      <ul class='comic-lists'>
        <% @comics.each do |comic| %>
          <li class='list'>
            <%= link_to comic_path(comic.id),class:"comicpath" do %>
              <div class='comic-img-content'>
                <%= image_tag comic.image, class: "comic-img"%>
              </div>
              <div class='body'>
                <div class='txst'>
                  <span>タイトル：<%= comic.name %></span>
                </div>
                <div class='txst'>
                  <span>最新刊：<%= comic.number %>巻</span>
                </div>
                <div class='txst'>
                  <span>作者：<%= comic.author %></span>
                </div>
                <div class='txst'>
                  <span>雑誌：<%= comic.magazine.name %></span>
                </div>
                <div class='txst'>
                  <span>ジャンル：<%= comic.genre.name %></span>
                </div>
                <div class='txst'>
                  <%= comic.end %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
